<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-16">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"-->
    <!--          crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!--    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' rel='stylesheet'>-->
<!--    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>-->
<!--    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-slotmachine/styles/style.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/jquery-slotmachine/dist/jquery.slotmachine.css') }}" type="text/css" media="screen" />
<!--&lt;!&ndash;    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" type="text/css" />&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>&ndash;&gt;-->
<!--&lt;!&ndash;    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>&ndash;&gt;-->
    <script src="{{ url_for('static', filename='node_modules/jquery-slotmachine/dist/slotmachine.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/jquery-slotmachine/dist/jquery.slotmachine.js') }}"></script>
<!--&lt;!&ndash;    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>&ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>-->
<!--    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>-->

    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <!--  <a class="navbar-brand" href="#"></a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">О нас</a>
                    </li>
                </ul>
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Выйти</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile"><span class="amount-profile"><span class="dollar-sign-profile">$</span><span id="nav_balance">{{ current_user.balance}}</span></span>
                            {{current_user.name }} 
                            <img src="{{ url_for('static', filename='img/' + current_user.image) }}" width="30" height="30" class="d-inline-block profile-image"></a>
                    </li>
                    {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/register">Регистрация</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Вход</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <script>
        window.user = {
            cur_us_id: {{ current_user.id }},
            cur_us_hash_pas: "{{ current_user.hashed_password }}",
            balance: {{ current_user.balance }}
        }
        document.getElementById('nav_balance').innerHTML = window.user.balance;
        function rot() {
            window.animation.runned = true;
            if (flag) {
                window.animation.angle = (window.animation.angle + speed) % 360;
                window.animation.roulette.style.transform = "rotate(" + window.animation.angle + "deg)";
                speed -= 0.05;
                if (speed < 0) {
                    flag = false;
                    speed = 0;
                    document.getElementById('roulettebutton').disabled = false;
                    if (Number(j['choice']) == document.getElementById('roulettebet2').value) {
                        document.getElementById('winornotwin').innerHTML = "Вы выиграли!";
                        window.user.balance = window.user.balance + Number(j['win']) - Number(j['bet']);
                        document.getElementById('nav_balance').innerHTML = window.user.balance;
                    }
                    else {
                        window.user.balance = window.user.balance - Number(j['bet']);
                        document.getElementById('winornotwin').innerHTML = "Вы проиграли!";
                        document.getElementById('nav_balance').innerHTML = window.user.balance;
                    }
                }
            }
        }
        async function button_click() {
            if (Number(document.getElementById('roulettebet1').value) > window.user.balance) {
                document.getElementById('winornotwin').innerHTML = "Недостаточно средств";
            }
            else {
                if (flag_of_multiple_choice = false) {
                    if (Number(document.getElementById('roulettebet1').value) < 1) {
                        document.getElementById('winornotwin').innerHTML = "Ошибка ставки";
                    }
                    else if (Number(document.getElementById('roulettebet2').value) < min_bet || Number(document.getElementById('roulettebet2').value) > max_bet) {
                        document.getElementById('winornotwin').innerHTML = "Поставьте на другое число";
                    }
                    else {
                        let j = await fetch('/api/game/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json;charset=utf-8' },
                            body: JSON.stringify({
                                "game_name": game_name, "bet": bet,
                                "number": value, "id": window.user.cur_us_id,
                                "password": window.user.cur_us_hash_pas
                            })
                        }).then(function (response) {
                            return response.json();
                        });
                        startrotation(j, lst);
                    }
                }
                else {
                    if (Number(document.getElementById('roulettebet1').value) < 1) {
                        document.getElementById('winornotwin').innerHTML = "Ошибка ставки";
                    }
                    else {
                        let j = await fetch('/api/game/', {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json;charset=utf-8' },
                            body: JSON.stringify({
                                "game_name": game_name, "bet": bet,
                                "number": value, "id": window.user.cur_us_id,
                                "password": window.user.cur_us_hash_pas
                            })
                        }).then(function (response) {
                            return response.json();
                        });
                        startrotation(j, lst);
                    }
                }
            }
        }
        function startrotation(j, lst) {
            let d = {};
            for (i = 0; i < lst.length; i++) {
                d[lst[i]] = 360 / lst.length * i;
            }
            let ax = 0.05;
            let speed = (ax * 2 * (360 * 6 - d[j['choice']] - 360 / lst.length / 2 + (360 - window.animation.angle))) ** 0.5;
            let flag = true;
            let id = setInterval(rot, 10);
            document.getElementById('roulettebutton').disabled = true;
            function rot() {
                window.animation.runned = true;
                if (flag) {
                    window.animation.angle = (window.animation.angle + speed) % 360;
                    window.animation.roulette.style.transform = "rotate(" + window.animation.angle + "deg)";
                    speed -= 0.05;
                    if (speed < 0) {
                        flag = false;
                        speed = 0;
                        document.getElementById('roulettebutton').disabled = false;
                        if (Number(j['win']) != 0) {
                            document.getElementById('winornotwin').innerHTML = "Вы выиграли!";
                            window.user.balance = window.user.balance + Number(j['win']) - Number(j['bet']);
                            document.getElementById('nav_balance').innerHTML = window.user.balance;
                        }
                        else {
                            window.user.balance = window.user.balance - Number(j['bet']);
                            document.getElementById('winornotwin').innerHTML = "Вы проиграли!";
                            document.getElementById('nav_balance').innerHTML = window.user.balance;
                        }
                    }
                }
            }
        }
        function err() {
            return 'Ошибка'
        }
    </script>
    <main role="main" class="container">
{% block content %}{% endblock %}
    </main>
</body>

</html>