<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-16">
<body>
    <div style="justify-content: center; align-items: center; position: fixed; width: 100%; height: 100%; text-align: center;">
        <div style="width: 100%;">
        <h1>Дорогой {{name}}!</h1>
        </div>
        <div style="width: 100%;">
        <p>Ты не сливал свои деньги в нашем прекрасном казино уже {{time}} секунд! Как так?</p>
        </div>
        <div style="width: 100%;">
        <a href="http://kazinych.herokuapp.com">Исправить это!</a>
        </div>
    </div>
</body>

</html>