{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-start mt-5">
    <div class="container justify-content-center mt-5 border-left border-right">
        <div class="card">
            <div class="top-container">
                <img src="{{ url_for('static', filename='img/' + current_user.image) }}"
                     class="img-fluid profile-image"
                     width="70">
                <div class="ml-3">
                    <h5 class="name">{{ current_user.name }}</h5>
                    <p class="mail">{{ current_user.email }}</p>
                </div>
            </div>
            <div class="middle-container d-flex justify-content-between align-items-center mt-3 p-2">
                <div class="dollar-div px-3">
                    <div class="round-div"><i class="fa fa-dollar dollar"></i></div>
                </div>
                <div class="d-flex flex-column text-right mr-2"><span class="current-balance">Текущий баланс</span>
                    <span class="amount"><span class="dollar-sign">$</span><span id="card_balance">{{ current_user.balance }}</span></span>
                </div>
            </div>

            <form method="POST" enctype="multipart/form-data">
                <div class="d-flex justify-content-between align-items-center mt-3 p-2">
                    <p>
                        {{ form.file(type="file") }}<br>
                        {% for error in form.file.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                    </p>
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <div>{{ message }}</div>
                </div>
            </form>
            <span>В имени файла не должно быть символов кириллицы!</span>
            <div class="d-flex justify-content-between align-items-center mt-3 p-2">
                <button onclick="button_click_profile(3)">Stonks</button>
                <button onclick="button_click_profile(-3)">Not stonks</button>
            </div>
            <div style="text-align: center;">
                <input type="checkbox" id="emailflag" style="margin-left: 0px;" onchange="set_email_flag()">
                <label for="emailflag" style="margin: 0px;">Разрешить спам на почту</label>
                {% if current_user.email_flag %}
                <script>
                    document.getElementById('emailflag').setAttribute('checked', true);
                </script>
                {% else %}
                <script>
                    document.getElementById('emailflag').removeAttribute('checked');
                </script>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container justify-content-center mt-5 border-left border-right">
        <h2>Изменения баланса</h2>
        <div id="bal_ch">
            {% for item in current_user.balance_changes_rel|reverse %}
            <div class="second py-2 px-2">
                <div class="container d-flex justify-content-between">
                    <span class="text1">Название игры: {{ item.game_name }}</span>
                    <span class="text1">Изменение баланса: {{ item.change }}</span>
                    <span class="text1">Дата: {{ item.date.strftime("%H:%M %d.%m.%y") }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="myPopoverContent" style="display:none">
        <p>This is the body of Popover</p>
        <a onclick="button_click_profile()" href="#">aaaa</a>
    </div>
</div>
<script>
async function set_email_flag() {
    let fornothing = await fetch('/api/emailsettings', {method: 'POST',
    headers: {'Content-Type': 'application/json;charset=utf-8'},
    body: JSON.stringify({"id": window.user.cur_us_id,
            "password": window.user.cur_us_hash_pas, "change": 'nothing_here'}),
    }).then(function(response) {
        return response.json();
    });
    console.log(fornothing)
}
document.getElementById('card_balance').innerHTML = window.user.balance;
async function button_click_profile(change) {
    if (window.user.balance + change < 0) {
        return "ЭЭЭЭ";
    }
    else {
        let j = await fetch('/api/cheat/', {method: 'POST',
            headers: {'Content-Type': 'application/json;charset=utf-8'},
            body: JSON.stringify({"change": change, "id": window.user.cur_us_id,
            "password": window.user.cur_us_hash_pas})}).then(function(response) {
                return response.json();
            });
        window.user.balance = window.user.balance + change;
        document.getElementById('nav_balance').innerHTML = window.user.balance;
        document.getElementById('card_balance').innerHTML = window.user.balance;
        document.getElementById('bal_ch').innerHTML = '<div class="second py-2 px-2"><div class="container d-flex justify-content-between"><span class="text1">Название игры: cheating</span><span class="text1">Изменение баланса: ' + change + '</span><span class="text1">Дата: ' + j['date'] + '</span></div></div>' + document.getElementById('bal_ch').innerHTML;
    }
}


</script>
<script type='text/javascript'
        src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src=''></script>
<script type='text/Javascript'></script>
{% endblock %}