{% extends "base.html" %}
{% block content %}
<div id="fucking_shit">
    <div id="roulettemain">
        <img src="static/img/arrow.png" style="display: inline-block;">
        <div style="height: 10px;"></div>
        <img src="static/img/roulette.png" id="roulette" style="width: 100%;">
        <div style="height: 10px;"></div>
        <div>
            <label style="display: inline-block;">Введите ставку</label>
            <input type="number" id="roulettebet1" name="bet" value="0" style="display: inline-block;">
        </div>
        <div>
            <label style="display: inline-block;">На что ставите?</label>
            <input type="number" id="roulettebet2" name="number" value="0" style="display: inline-block;">
        </div>
        <div style="text-align: center;">
            <button onclick="button_click()" id="roulettebutton" style="display: inline-block; width: 100%;">Крутите
                барабан!</button>
            <p style="display: inline-block; padding: auto;" id="winornotwin"></p>
            {% if current_user.is_authenticated %}
            <script>
                document.getElementById('roulettebutton').disabled = false;
            </script>
            {% else %}
            <script>
                window.user = {
                    cur_us_id: null,
                    cur_us_hash_pas: null,
                    balance: 0
                }
                document.getElementById('roulettebutton').disabled = true;
                document.getElementById('winornotwin').innerHTML = "Вы не вошли в аккаунт!";
            </script>
            {% endif %}
            <script>
                window.animation = {
                    runned: false,
                    roulette: document.getElementById("roulette"),
                    angle: 0
                }
                let lst = [0, 32, 15, 19, 4, 21, 2, 25, 17, 34, 6, 27, 13, 36, 11, 30, 8, 23, 10, 5,
                    24, 16, 33, 1, 20, 14, 31, 9, 22, 18, 29, 7, 28, 12, 35, 3, 26];
                let max_bet = 36;
                let min_bet = 0;
                let game_name = 'roulette';
            </script>
        </div>
    </div>
</div>
{% endblock %}