{% extends "base.html" %}
{% block content %}
<div id="fucking_shit_cyber">
    <div id="roulettemain">
        <img src="static/img/cyber_arrow.png" style="display: inline-block;">
        <div style="height: 10px;"></div>
        <img src="static/img/roulette2.png" id="roulette" style="width: 100%;">
        <div style="height: 10px;"></div>
        <div>
            <label style="display: inline-block; color: #de5ded;">Введите ставку</label>
            <input type="number" id="roulettebet1" name="bet" value="1" min="1"
                style="display: inline-block; background-color: #929292; width: auto;">
        </div>
        <div>
            <label style="display: inline-block; color: #de5ded;">На что ставите?</label>
            <input type="number" id="roulettebet2" name="number" value="1" min="1" max="8"
                style="display: inline-block; background-color: #929292; width: auto;">
        </div>
        <div style="text-align: center;">
            <button onclick="button_click()" id="roulettebutton" style="display: inline-block; width: 100%;
        background-color: #929292; color: #8b009b;">Крутите барабан!
            </button>
            <p style="display: inline-block; padding: auto; color: #de5ded;" id="winornotwin"></p>
            {% if current_user.is_authenticated %}
            <script>
                document.getElementById('roulettebutton').disabled = false;
            </script>
            {% else %}
            <script>
                window.user = {
                    cur_us_id: null,
                    cur_us_hash_pas: null,
                    balance: 0
                }
                document.getElementById('roulettebutton').disabled = true;
                document.getElementById('winornotwin').innerHTML = "Вы не вошли в аккаунт!";
            </script>
            {% endif %}
            <script>
                window.animation = {
                    runned: false,
                    roulette: document.getElementById("roulette"),
                    angle: 0
                }
                let lst = [1, 2, 3, 4, 5, 6, 7, 8];
                let max_bet = 8;
                let min_bet = 1;
                let game_name = 'cyber_roulette';
                let bet = document.getElementById('roulettebet1').value;
                let value = document.getElementById('roulettebet2').value;
                flag_of_multiple_choice = true;
            </script>
        </div>
    </div>
</div>
{% endblock %}