{% extends "base.html" %}
{% block content %}
<div id="casino" style="padding-top:50px;">
    <div class="content">
        <h1>Наши замечательные слоты</h1>
        <div>
            <div id="casino1" class="slotMachine" style="margin-left: -65px;">
                <div class="slot slot1"></div>
                <div class="slot slot2"></div>
                <div class="slot slot3"></div>
                <div class="slot slot4"></div>
                <div class="slot slot5"></div>
                <div class="slot slot6"></div>
            </div>

            <div id="casino2" class="slotMachine">
                <div class="slot slot1"></div>
                <div class="slot slot2"></div>
                <div class="slot slot3"></div>
                <div class="slot slot4"></div>
                <div class="slot slot5"></div>
                <div class="slot slot6"></div>
            </div>

            <div id="casino3" class="slotMachine">
                <div class="slot slot1"></div>
                <div class="slot slot2"></div>
                <div class="slot slot3"></div>
                <div class="slot slot4"></div>
                <div class="slot slot5"></div>
                <div class="slot slot6"></div>
            </div>

            <div class="btn-group btn-group-justified" role="group">
                <button id="casinoShuffle" type="button" class="btn btn-primary btn-lg">Shuffle!</button>
                <button id="casinoStop" type="button" class="btn btn-primary btn-lg">Stop!</button>

            </div>

        </div>
    </div>
<div>
                <label style="display: inline-block;">Введите ставку</label>
                <input type="number" id="roulettebet1" name="bet" value="0" style="display: inline-block;">
            </div>
            <p style="display: inline-block; padding: auto;" id="winornotwin"></p>
</div>
<script id="codeScript5">
let count = 0;
let j = [];
let game_name = 'slots1';
const btnShuffle = document.querySelector('#casinoShuffle');
const btnStop = document.querySelector('#casinoStop');
const casino1 = document.querySelector('#casino1');
const casino2 = document.querySelector('#casino2');
const casino3 = document.querySelector('#casino3');
const mCasino1 = new SlotMachine(casino1, {
  active: 0,
  delay: 500
});
const mCasino2 = new SlotMachine(casino2, {
  active: 1,
  delay: 500
});
const mCasino3 = new SlotMachine(casino3, {
  active: 2,
  delay: 500
});



</script>
<script id="codeScript6">
btnShuffle.addEventListener('click', async () => {
  if (Number(document.getElementById('roulettebet1').value) > window.user.balance) {
                document.getElementById('winornotwin').innerHTML = "Недостаточно средств";
            }
  else if (Number(document.getElementById('roulettebet1').value) < 1) {
                document.getElementById('winornotwin').innerHTML = "Неверная ставка";
            }
  else {
      j = await fetch('/api/game/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json;charset=utf-8' },
                    body: JSON.stringify({
                        "game_name": game_name, "bet": document.getElementById('roulettebet1').value,
                        "id": window.user.cur_us_id,
                        "password": window.user.cur_us_hash_pas
                    })
                }).then(function (response) {
                    return response.json();
      });
      // console.log(j);
      count = 3;
      mCasino1.randomize = function randomize() { return Number(j['choice'][0]); }
      mCasino2.randomize = function randomize() { return Number(j['choice'][1]); }
      mCasino3.randomize = function randomize() { return Number(j['choice'][2]); }
      mCasino1.shuffle(9999);
      mCasino2.shuffle(9999);
      mCasino3.shuffle(9999);
      document.getElementById('casinoShuffle').disabled = true;
      }
});

btnStop.addEventListener('click', () => {
  switch(count) {
    case 3:
      mCasino1.stop();
      break;
    case 2:
      mCasino2.stop();
      break;
    case 1:
      mCasino3.stop();
      window.user.balance = window.user.balance + Number(j['win']) - Number(j['bet']);
      document.getElementById('nav_balance').innerHTML = window.user.balance;
<!--      alert(mCasino1.active);-->
<!--      alert(mCasino2.active);-->
<!--      alert(mCasino3.active);-->
      document.getElementById('casinoShuffle').disabled = false;
      break;
  }
  count--;
});



</script>
{% endblock %}